.topnav a {
    display: inline;
    color: black;
    margin-right: 100px;
    float: right;
    padding: 0px -40px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Roboto";   
}
.topnav a:hover {
    color: rgb(192, 144, 22); 
}
h1 {
    margin-top: 50px;
    font-family: 'Roboto';
    text-align: center;
    letter-spacing: 8px;
    padding: 10px;
}
h2 {
    margin-top: 50px;
    font-family: 'Roboto';
    text-align: left;
    letter-spacing: 0px;
    padding: 50px;
}
h3 {
    margin-top: 50px;
    font-family: 'Roboto';
    text-align: left;
    letter-spacing: 0px;
    padding: 10px;
}
Footer2 {
    text-align: center;
    display: inline;
    font-family: 'Roboto';
    text-align: right;
    letter-spacing: 0px;
}